header {
    padding: 28px;
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 1;
}

header i {
    font-size: 2.4rem;
    color: #e9a209;
}

.nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.menu-item {
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-topBar {
    position: relative;
    top: 10px;
}


.menu-item a {
    font-weight: bold;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

header .btn-default {
    width: 100px;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 1.4rem;
}


.btn-mobile {
    position: absolute;

    top: 28px;
    right: 28px;

    border: none;
    background-color: #fff9ea;
}

@media screen and (min-width: 1170px) {
    .btn-mobile {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        position: static;
        gap: 48px;
    }
    .btn-topBar {
        position: absolute;
        top: 28px;
        right: 8%;
    }
    .fa-burger {
        position: absolute;
        top: 28px;
        left: 8%;
    }
    .menu-item {
        text-decoration: #ffe100;
    }
    .menu-item:hover {
        text-decoration: underline 3px #ffe100;
        transform: translateY(-3px);
        transition-duration: 0.5s;
        font-weight: 900;        
    }
}