header {
    padding: 28px;
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 3;
}

header i {
    font-size: 2.4rem;
    color: #e9a209;
}

.nav-menu {
    list-style: none;
    text-align: center;
    position: relative;
}

.menu-item {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 12px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

header .btn-default {
    width: 100px;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 1.4rem;
}


.btn-mobile {
    position: absolute;

    top: 28px;
    right: 28px;

    border: none;
    background-color: #fff9ea;
}


main {
    height: 2000px;
}